apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: flask-app
          image: youracr.azurecr.io/flaskapp:latest
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
