apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - backend/flask-configmap.yaml
  - backend/flask-deployment.yaml
  - backend/flask-service.yaml
  - backend/hpa.yaml
  - backend/ingress.yaml

  # If you use monitoring
  - monitoring/loki-promtail-stack.yaml

  # Database files (optional for cloud DB)
  # - database/postgres-statefulset.yaml
  # - database/postgres-service.yaml
  # - database/postgres-pvc.yaml

# IMPORTANT: secrets must be loaded here:
secretGenerator:
  - name: db-secret
    files:
      - ../secrets/db-secret.yaml

generatorOptions:
  disableNameSuffixHash: true
