name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    container:
      image: maven:3.8.1-adoptopenjdk-11

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Java application
        working-directory: cicd/backend
        run: mvn clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: cicd/backend/target/*.jar


  frontend-ci:
    runs-on: ubuntu-latest
    container:
      image: node:16-alpine

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Node version
        run: node --version


  deploy:
    name: Deploy (CD)
    needs: backend-ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app
          path: artifacts

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          printf "%s\n" "${{ secrets.AZURE_CD }}" > ~/.ssh/azure-cd
          chmod 600 ~/.ssh/azure-cd
          ssh-keyscan -H 172.184.234.149 >> ~/.ssh/known_hosts
  
      - name: Deploy using Ansible
        working-directory: multi-stage-multi-agent
        env:
          APP_JAR: ../artifacts
        run: |
          ansible-playbook -i ansible/inventory ansible/deploy.yml

          ansible-playbook -i ansible/inventory ansible/deploy.yml
